@use '_lib' as lib;

.inputContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
}

.inputContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 16px;
    width: 20px;
    margin: 0;
}

.inputContainer span {
    //position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 16px;
    width: 20px;
    content: url(./Assets/DashCircleFill.svg);
}

.inputContainer input[type=checkbox] {
    &~span {
        content: url(./Assets/PlusSquareFill.svg);
    }

    &:checked~span {
        content: url(./Assets/DashSquareFill.svg);
    }
}

.inputContainer input[type=radio] {
    &~span {
        content: url(./Assets/PlusCircleFill.svg);
    }

    &:checked~span {
        content: url(./Assets/DashCircleFill.svg);
    }
}

.labelsContainer {
    display: flex;
    flex-direction: column;
}

.paddingLabels {
    margin-left: 20px;
    position: relative;

    &::before {
        position: absolute;
        top: 0px;
        left: -10px;
        content: '';

        bottom: 0px;
        border-left: 1px solid lib.$light-gray;
        border-bottom: 1px solid lib.$light-gray;
        background-color: transparent;
    }
}

.nestedContainer {
    margin-left: 20px;
}

.nestedContainerChild {
    position: relative;
}

.nestedContainerChild {
    &:not(:last-child) {

        /* vertical lines before nested lists*/
        &::after {
            position: absolute;
            top: 0px;
            left: -10px;
            content: '';
            width: 1px;
            bottom: 0px;
            background-color: lib.$light-gray;
        }

        /* horizontal lines before nested lists*/
        &::before {
            position: absolute;
            top: 0px;
            left: -10px;
            content: '';
            height: 0.7em;
            width: 8px;
            border-left: 1px solid lib.$light-gray;
            border-bottom: 1px solid lib.$light-gray;
            background-color: transparent;
        }
    }

    /* vertical and horizontal lines before last li*/
    &:last-child {
        &::before {
            position: absolute;
            top: 0px;
            left: -10px;
            content: '';
            height: 0.7em;
            width: 8px;
            border-left: 1px solid lib.$light-gray;
            border-bottom: 1px solid lib.$light-gray;
            background-color: transparent;
        }
    }
}

.li {
    position: relative;
}

.li {

    /* not last with class li*/
    &:not(:last-child) {

        /* vertical lines before li*/
        &::after {
            position: absolute;
            top: 0px;
            left: -10px;
            content: '';
            width: 1px;
            bottom: 0px;
            background-color: lib.$light-gray;
        }
    }
}